# Ignore environment variables
.env
.env.*
# Ignore Python cache files
__pycache__/
*.py[cod]
*$py.class

# Ignore virtual environment directories
venv/
env/
.venv/
.env//
# Ignore IDE specific files
.vscode/
.idea/
# Ignore qdrant database files
qdrant_storage

# Ignore logs
*.log
server.log
fastapi.log
